﻿@{
    Layout = null;
}
@using System.Web.Optimization
@using StackExchange.Profiling
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>MailMotion</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        @Styles.Render("~/assets/bootstrap")
        @Scripts.Render("~/assets/modernizr")
        @Styles.Render("~/assets/mailmotion-login")
    </head>
    <body>
        <div class="container form-container">
            @using(Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "form-signin" }))
            {
                <img src="~/assets/images/maillotion-logo.png" class="logo-position" alt="Mail Motion Logo"/>
                <input type="text" class="form-control" placeholder="Email address" required autofocus>
                <input type="password" class="form-control" placeholder="Password" required>
                <label class="checkbox">
                    <input type="checkbox" value="remember-me"> <span class="form-rememberme">Remember me</span>
                </label>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            }
        </div>

        
        @Scripts.Render("~/assets/jquery")
        @Scripts.Render("~/assets/bootstrapjs")
        @MiniProfiler.RenderIncludes()
    </body>
</html>