﻿@using System.Web.Optimization
@using StackExchange.Profiling
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>MailMotion</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        @Styles.Render("~/assets/bootstrap")
        @Scripts.Render("~/assets/modernizr")
        @Styles.Render("~/assets/mailmotion-site")
    </head>
    <body>
        <header>
            <a href="/"><img src="~/assets/images/maillotion-logo.png" class="logo-position" alt="Mail Motion Logo"/></a>
            
            <div class="btn-group pull-right">
                <a type="button" class="dropdown-toggle user-details" data-toggle="dropdown" href="#">
                    <span class="glyphicon glyphicon-user glyphicon-inverse"></span> welcome, name
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                </ul>
            </div>
            
        </header>
        <menu>
            <div class="container-full">
                <div class="row">
                    <div class="col-md-8">Text</div>
                    <div class="col-md-4">Text</div>    
                </div>
            </div>
        </menu>
        <div class="container">
            @RenderBody()    
        </div>
        <footer>
            &copy; Copyright Mail Motion project
        </footer>

        
        @Scripts.Render("~/assets/jquery")
        @Scripts.Render("~/assets/bootstrapjs")
        @MiniProfiler.RenderIncludes()
    </body>
</html>