﻿        <div class="navbar navbar-static-top navbar-inverse">
            <div class="navbar-inner">
                <ul class="nav">
                    <li><a href="#">Home</a></li>
                </ul>
            </div>
        </div>