﻿footer {
    background: -moz-linear-gradient(top,  rgba(183,20,39,0.65) 0%, rgba(183,20,39,1) 29%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(183,20,39,0.65)), color-stop(29%,rgba(183,20,39,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(183,20,39,0.65) 0%,rgba(183,20,39,1) 29%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(183,20,39,0.65) 0%,rgba(183,20,39,1) 29%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(183,20,39,0.65) 0%,rgba(183,20,39,1) 29%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(183,20,39,0.65) 0%,rgba(183,20,39,1) 29%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6b71427', endColorstr='#b71427',GradientType=0 ); /* IE6-9 */
    min-height: 50px;
}