﻿header {
    border-top: solid 5px #B71427;
    padding: 5px;
    min-height: 60px;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 80%, rgba(0,0,0,0.65) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(80%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65)));
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 80%,rgba(0,0,0,0.65) 100%);
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 80%,rgba(0,0,0,0.65) 100%);
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 80%,rgba(0,0,0,0.65) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 80%,rgba(0,0,0,0.65) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}

header .dropdown-menu {
    -webkit-box-shadow: none;
    border-radius: 0px;
    background-color: #404040;
    padding: 0
}

header .logo-position {
    margin-top: 5px;
}

header .dropdown-menu li a {
    color: #ffffff;
}
header .dropdown-menu li a:hover {
    background-color: #B71427;
    color: #ffffff;
} 

header .user-details {
    color: #ffffff;
    font-size: 14px;
    font-weight: normal;
    padding-right: 3px;
}

header a.user-details:hover {
    text-decoration: none;
}

header a.user-details:active {
    text-decoration: none;
}